<!-- HEADER -->
<div class="bgcolor1">
  <table width="100%">
    <tbody>
      <tr valign="middle">
	<td class="header_left">
	  <img src="/webserver.png" width="64" height="64">
	</td>
	<td style="text-align: left">
	  <h2>{title}</h2>
	</td>
	<td style="text-align: right; font-size: 80%">
	  <div style="position: absolute; text-align: left; right: 18px; top: 20px">
	    About Us
	    <br>
	    Careers
	    <br>
	    {date}
	    <br>
	    {sid}
	  </div>
	</td>
      </tr>
    </tbody>
  </table>
</div>
